:root {
  --smoke-white: #D9D9D9;
  --red: #A41212;
  --dark-grey: #4D4D4D;
}


/* Global */
body {
  background-color: var(--smoke-white);
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

/* Navbar */
.logo {
  color: var(--red);
  text-decoration: none;
  font-size: 5vw;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-container h1 {
  margin-right: 1rem;
}

.profile-photo-nav {
  height: 10vh; 
  width: 10vh;
  object-fit: cover;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 17.5vw;
  border: 3px solid var(--red);
  cursor: pointer;
}

.active {
  color: var(--red) !important;
}

/* Home */
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-post {
  background-color: var(--red);
  margin: 20px 0;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  color: var(--smoke-white)
}

.post-img-name-container {
  display: flex;
  align-items: center;
}

.img-post {
  height: 10vh; 
  width: 10vh;
  object-fit: cover;
  margin-right: 15px;
}

.scroll-button-container {
  display: flex;
  justify-content: center;
}

.scroll-button {
  background-color: var(--red);
  border: none;
  color: var(--smoke-white);
  padding: 10px 20px;
  font-size: 16px;
  margin: auto 2px;
  cursor: pointer;
}

/* Profile */
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile-inner-container {
  flex-basis: 33%;
}

.profile-crimes-container {
  text-align: center;
  flex-basis: 33%;
}

.crime-list-item {
  text-align: center;
  margin-top: 50px;
}

.profile-friends-container {
  text-align: center;
  flex-basis: 33%;
}

.profile-info-container {
  text-align: center;
}

.profile-messages-container {
  text-align: center;
}

.messages-container {
  border: 1px solid var(--red);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.sent-message {
  color: var(--red);
  text-align: right;
}

.received-message {
  color: var(--dark-grey);
  text-align: left;
}

.profile-photo {
  height: 30vh; 
  width: 30vh;
  object-fit: cover;
  margin: 20px 0;
  border: 3px solid var(--red);
}

.profile-edit {
  border: 5px solid var(--red);
  margin-top: 10px;
}

.profile-edit input {
  display: block;
  margin: 10px auto;
}

.friend-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.friend-container img {
  margin-right: 15px;
}

.img-friend-list {
  height: 10vh; 
  width: 10vh;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px 0;
}

/* New Post */
.new-post {
  text-align: center;
  border: 5px solid var(--red);
  width: 50%;
  margin: 0 auto;
}

.new-post-container {
  height: 200px;
}

.new-post input {
  margin: 40px auto;
}

.new-post textarea {
  width: 75%;
  height: 100%;
  margin: 10px auto;
}

/* Crimes List */
.singlecrime {
  border: 5px solid var(--red);
  margin: 10px auto;
  width: 50vw;
  text-align: center;
  padding: 10px;
}

.new-crime-form {
  border: 5px solid var(--red);
  width: 50vw;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.new-crime-form input,
.new-crime-form label {
  margin: 10px auto;
  display: block;
}

.new-crime-form textarea {
  height: 20vh;
  width: 80%;
}

.edit-crime-form {
  border: 5px solid var(--red);
  width: 50vw;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.edit-crime-form input, 
.edit-crime-form label {
  margin: 10px auto;
  display: block;
}

.edit-crime-form input[type=text] {
  width: 50%;
}

.edit-crime-form textarea {
  height: 20vh;
  width: 80%;
}

/* Crimes in Profile */
.add-personal-crime {
  border: 5px solid var(--red);
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.user-crimes {
  border: 5px solid var(--red);
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

/* Burger */
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }
  
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--red);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--red);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--red);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: var(--dark-grey);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  text-align: right;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 10px;
  color: var(--smoke-white);
  text-decoration: none;
}

.bm-item:hover {
  color: var(--red);
}

/* Styling of overlay */
.bm-overlay {
  background: var(--smoke-white);
  opacity: 0 !important;
}

/*  */
.deletecrime {
  cursor: pointer;
}